<div class="container-fluid">
  <br>
  <mat-form-field class="example-full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" width="1500" placeholder="Filter">
  </mat-form-field>
  <button mat-button routerLink="/ListOfComparisons">Switch to  list of comparisons</button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="picture" >
        <th mat-header-cell *matHeaderCellDef width="500"> Picture </th>
        <td mat-cell *matCellDef="let element"> <img src="{{element.item.picture}}" width="50" height="50" matRipple>
          <a href="javascript:void(0)"  (click)="element.isChangePicture = true"><mat-icon color="accent">edit</mat-icon></a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="500"> Name </th>
        <td mat-cell *matCellDef="let element">
          <a href="#" class="col-md-4" *ngIf="!element.isChangeName"><strong>{{element.item.name}}</strong></a>
          <mat-form-field *ngIf="element.isChangeName">
            <input matInput placeholder="Change name" [(ngModel)]='element.item.name' (keyup.enter)="element.changeName()">
          </mat-form-field>
          <a *ngIf="!element.isChangeName" class="col-md-4" href="javascript:void(0)" (click)="element.isChangeName = true">
            <mat-icon color="accent">edit</mat-icon>
          </a>
          <a *ngIf="!element.isChangeName" class="col-md-4" href="javascript:void(0)" (click)="openCompareDialog(element.item)">
            <mat-icon color="accent">compare_arrows</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="500"> Grade </th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="!element.isChangeGrade">{{element.item.grade}}</a>
          <mat-form-field *ngIf="element.isChangeGrade">
            <input matInput placeholder="Change grade" type="number" [(ngModel)]='element.item.grade' (keyup.enter)="element.isChangeGrade = false">
          </mat-form-field>
          <!--<a *ngIf="!element.isChangeGrade" href="javascript:void(0)" (click)="element.isChangeGrade = true">-->
            <!--<mat-icon color="accent">edit</mat-icon>-->
          <!--</a>-->
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef width="500"> Delete </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0)"  (click)="element.deleteItem()"><mat-icon color="accent">delete</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons sticky ="true"></mat-paginator>
  </div><br>
  <mat-button-toggle-group>
    <mat-button-toggle value="bold" (click)="openAddDialog(false)">Add</mat-button-toggle>
    <mat-button-toggle value="italic" (click)="openAddDialog(true)">Bulk Add</mat-button-toggle>
    <mat-button-toggle value="italic" (click)="openCompareDialog(null)">Compare</mat-button-toggle>
  </mat-button-toggle-group>
</div>

