<div class="container-fluid">
  <br>
  <div class="container-fluid">
    <button mat-fab color="primary" (click)="addList()"><mat-icon>add</mat-icon></button>
    <button mat-button routerLink="/listOfItems">Go listOfItems</button>
  </div>
  <mat-form-field class="example-full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" width="1500" placeholder="Filter">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!--<ng-container matColumnDef="picture" >-->
        <!--<th mat-header-cell *matHeaderCellDef width="500"> Picture </th>-->
        <!--<td mat-cell *matCellDef="let element"> <img src="{{element.list.picture}}" width="50" height="50" matRipple>-->
          <!--<a href="javascript:void(0)"  (click)="element.isChangePicture = true"><mat-icon color="accent">edit</mat-icon></a>-->
        <!--</td>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="750"> Name </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/listOfItems/{{element.list.id}}" class="col-md-4" *ngIf="!element.isChangeName"><strong>{{element.list.name}}</strong></a>
          <mat-form-field *ngIf="element.isChangeName">
            <input matInput placeholder="Change name" [(ngModel)]='element.list.name' (keyup.enter)="element.isChangeName()">
          </mat-form-field>
          <a *ngIf="!element.isChangeName" class="col-md-4" href="javascript:void(0)" (click)="element.isChangeName = true">
            <mat-icon color="accent">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef width="700"> Delete </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0)"  (click)="element.deleteList()"><mat-icon color="accent">delete</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons sticky ="true"></mat-paginator>
  </div><br>
</div>

